{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="row" >
    <div class="col-sm-12 col-md-8" style="padding-right:12px;">
        
        <div class="card" style="background-color: #000000;">
            <video width="100%" height="500"  autoplay>
                <source src="{{ video.path.url }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
        </div>

        <div class="card" style="background-color: transparent; ">
            
            <!-- <div class="image-fluid" style="width: 100%;">
                <video
                    style="object-fit: fill;"
                    id="my-video"
                    class="video-js vjs-theme-sea vjs-big-play-centered"
                    controls
                    preload="auto"
                    width="100%"
                    height="auto"
                    poster=""
                    data-setup="{}">
                    <source src="{{ video.path.url }}" type="video/mp4" />
                    <source src="MY_VIDEO.webm" type="video/webm" />
                    <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                        >supports HTML5 video</a
                    >
                    </p>
                </video>
            </div> -->
                
           
            
            <div class="card-body" >
                
                <div class="container" style="padding: 0.4px; margin-bottom: 3px; ">
                    
                    <!-- <img src="mypic.jpg" style="width: 750px; height: 480px;"> -->
                    <h4 style="margin-top: 10px; color: #fff; font-weight: 500;">{{video.title}}</h4>
                    <div class="container" style="padding-left: 0px; display: flex;">
                        <div>
                            <p style="margin: 0px; color: #fff;">456,455 views  |  Feb 25,2020</p>
                        </div>
                                    {% if user.is_authenticated %}
                                        <div style="margin-left: 25px; display: flex;">
                                            <div style="margin-right: 15px;">
                                                <a href="#" onclick="likeVid('{% url 'videos:video_unlike' video.id %}','{{ video.id }}','0'); return false;" 
                                                {% if video.id not in video_likes %} style="display: none; text-decoration: none;" {% else %} style="text-decoration: none;" {% endif %}
                                                id="like_btn_{{video.id}}"
                                                >
                                                <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="fa fa-thumbs-up fa-stack-1x" style="padding-left: 0px; color: blue;"></i>
                                                    <i class="fa fa-thumbs-o-up fa-stack-1x" style="display: none; color: white;" ></i>
                                                </span>
                                                </a>
                                            
                                                <a href="#" onclick="likeVid('{% url 'videos:video_like' video.id %}','{{ video.id }}','1'); return false;" 
                                                    {% if video.id in video_likes %} style="display: none;" {% else %} style="text-decoration: none;" {% endif %}
                                                    id="unlike_btn_{{video.id}}"
                                                >
                                                    <span class="fa-stack" style="vertical-align: middle;">
                                                        <i class="fa fa-thumbs-up fa-stack-1x" style="display: none; color: blue;"></i>
                                                        <i class="fa fa-thumbs-o-up fa-stack-1x" style="color: white;"></i>
                                
                                                    </span>
                                
                                                </a>
                                            
                                                <span id="like_count" style="color: #fff;">{{like_count}}</span>
                                            </div>
                                            


                                            <!-- Dislike button -->
                                            <div>
                                                <a href="#" onclick="dislikeVid('{% url 'videos:video_undislike' video.id %}','{{ video.id }}','0'); return false;" 
                                                {% if video.id not in video_dislikes %} style="display: none; text-decoration: none;" {% else %} style="text-decoration: none;" {% endif %}
                                                id="dislike_btn_{{video.id}}"
                                                >
                                                <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="fa fa-thumbs-down fa-stack-1x" style="padding-left: 0px; color: red;"></i>
                                                    <i class="fa fa-thumbs-o-down fa-stack-1x" style="display: none; color: white;" ></i>
                                                </span>
                                                </a>
                                            
                                                <a href="#" onclick="dislikeVid('{% url 'videos:video_dislike' video.id %}','{{ video.id }}','1'); return false;" 
                                                    {% if video.id in video_dislikes %} style="display: none;" {% else %} style="text-decoration: none;" {% endif %}
                                                    id="undislike_btn_{{video.id}}"
                                                >
                                                    <span class="fa-stack" style="vertical-align: middle;">
                                                        <i class="fa fa-thumbs-down fa-stack-1x" style="display: none; color: red;"></i>
                                                        <i class="fa fa-thumbs-o-down fa-stack-1x" style="color: white;"></i>
                                
                                                    </span>
                                
                                                </a>
                                                <span id="dislike_count" style="color: #fff;">{{dislike_count}}</span>
                                            </div>
                                            
                                        </div>
                                    {% else %}
                                        <div style="margin-left: 25px; display: flex;">
                                            <div style="margin-right: 15px;">
                                            
                                                <!-- <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="fa fa-thumbs-up fa-stack-1x" style="padding-left: 0px; color: blue;"></i>
                                                    <i class="fa fa-thumbs-o-up fa-stack-1x" style="display: none; color: white;" ></i>
                                                </span> -->
                                                
                                            <a href="/accounts/login?next={% url 'videos:video_detail' video.id %}">
                                                <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="fa fa-thumbs-up fa-stack-1x" style="display: none; color: blue;"></i>
                                                    <i class="fa fa-thumbs-o-up fa-stack-1x" style="color: white;"></i>
                                                </span>
                                            </a>
                                                
                                            
                                            
                                                <span id="like_count" style="color: #fff;">{{like_count}}</span>
                                            </div>
                                            


                                            <!-- Dislike button -->
                                            <div>
                                            
                                                <!-- <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="fa fa-thumbs-down fa-stack-1x" style="padding-left: 0px; color: red;"></i>
                                                    <i class="fa fa-thumbs-o-down fa-stack-1x" style="display: none; color: white;" ></i>
                                                </span> -->
                                            
                                            <a href="/accounts/login?next={% url 'videos:video_detail' video.id %}">
                                                <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="fa fa-thumbs-down fa-stack-1x" style="display: none; color: red;"></i>
                                                    <i class="fa fa-thumbs-o-down fa-stack-1x" style="color: white;"></i>
                                                </span>
                                            </a>
                                                
                                
                                
                                                <span id="dislike_count" style="color: #fff;">{{dislike_count}}</span>
                                            </div>
                                            
                                        </div>
                                    {% endif %}

                    </div>
                    <hr style="margin-top: 0px;">
                    <div class="container" style="padding-left: 0px;">
                        <div class="container" style="padding-left: 0px; margin-bottom: 20px; display: flex;"  >
                            <h6 style="color: #fff; font-weight: 500;">
                                {{video.hord}}
                            </h6>
                            
                            {% if not user.is_authenticated %}
                            <a class="btn btn-primary" href="/accounts/login?next={% url 'videos:video_detail' video.id %}">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Subscribe
                            </a>
                            {% else %}
                            <a class="btn btn-primary" href="" 
                                onclick="SubscribeHord('{% url 'videos:hord_subscribe' video.hord.id %}','{{ video.hord.id }}'); return false;" 
                                {% if video.hord.id in subscribers %} style="display: none;" {% endif %}
                                id="subscribe_btn_{{video.hord.id}}">  
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Subscribe
                            </a>
                            <a class="btn btn-primary" href="" onclick="unSubscribeHord('{% url 'videos:hord_unsubscribe' video.hord.id %}','{{ video.hord.id }}'); return false;"
                                {% if video.hord.id not in subscribers %} style="display: none;" {% endif %}
                                id="unsubscribe_btn_{{video.hord.id}}">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                Subscribed
                            </a>
                            {% endif %}
                        </div>
                        <p style="color: #fff; font-weight: 500;">
                            {{video.description}}
                            
                        </p>
                    </div>
                        
                    <!-- edit icon <i class="bi bi-pencil"></i> -->
                    <!-- delete icon <i class="bi bi-trash"></i> -->
                                        
                </div>
         
            </div>
        </div>
        <hr style="background: white;">
        <div class="card" style="background-color: transparent; border: 0.5px solid white ; ">
            <div class="card-body" >
                <h4 style="color: #fff; font-weight: 500;">Comments</h4>
                <div class="container" id="comment_form" style="padding: 0px">
                    <form id="comment-form" action="">
                        <textarea name="comment-text" id="comment-input" placeholder="Type a comment" style="border: 1px solid white; border-radius: 3px; background: transparent; width: max-content; color: white;"></textarea>
                        <!-- <input  type="text" name="comment-text" id="comment-input" placeholder="Type a comment" style="border: 1px solid white; border-radius: 3px; background: transparent;" > -->
                        <input type="hidden" name="video-id" value="{{video.id}}">
                        <div style="margin-top: 8.5px;">
                            <!-- <a  id="comment-btn">Submit</a> -->
                            <a class="btn btn-secondary btn-sm" id="comment-btn" onclick="create_comment()">Submit</a>
                        </div>
                    </form>
                </div>
                <!-- <div>
                    <div class="form-outline mb-4">
                        <textarea
                          class="form-control"
                          id="form4Example3"
                          rows="4"
                        ></textarea>
                        <label
                          class="form-label"
                          for="form4Example3"
                          style="margin-left: 0px"
                          >Message</label
                        >
                        <div class="form-notch">
                          <div class="form-notch-leading" style="width: 9px"></div>
                          <div class="form-notch-middle" style="width: 60px"></div>
                          <div class="form-notch-trailing"></div>
                        </div>
                      </div>
                </div> -->
                <hr>
                <div class="container" style="padding: 0 4px; margin-bottom: 3px;" >
                    <ul class="list-unstyled" id="comment-list">
                        
                            
                            
                                {% if comments %}
                                {% for comment in comments %}
                                        <li class="comment-container{{comment.id}}" style="margin: 0px; padding: 0px;">
                                            <span style=" margin-bottom: 0px;" id="{{comment.id}}-comment-span">
                                                <p style="margin: 0px; color: #fff;" name="comment-user" >
                                                    {{comment.user}}
                                                </p>
                                                {% if comment.user == user %}
                                                    <!-- <a href="#" onclick="editComment({{comment.id}})" data-bs-toggle="modal" data-bs-target="#CommentModal" style="margin-right: 10px; margin-left: 10px;"><i class="bi bi-pencil"></i></a> -->
                                                    <!-- <button type="button" class="btn btn-secondary" id="getComment" data-bs-toggle="modal" data-bs-target="#commentModal" onclick="editComment('{{comment.id}}')" ><i class="bi bi-pencil"></i></button> -->
                                                    <!-- <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#DeleteCommentModal" onclick="deleteComment('{{comment.id}}')"><i class="bi bi-trash"></i></button> -->

                                                    <a  href="#" id="getComment" data-bs-toggle="modal" data-bs-target="#commentModal" onclick="editComment('{{comment.id}}')" ><i class="bi bi-pencil"></i></a>
                                                    <a  href="#" data-bs-toggle="modal" data-bs-target="#DeleteCommentModal" onclick="deleteComment('{{comment.id}}')"><i class="bi bi-trash"></i></a>
                                                    <!-- <a href="#"><i class="bi bi-trash"></i></a> -->
                                                {% endif %}
                                                <p style="margin: 0px; font-size: 9px;" name="comment-date" >{{comment.date_uploaded|naturaltime }}</p>
                                                <p class="CommentText" style=" margin-bottom: 0px; color: #fff;" name="comment-text">
                                                    {{comment.c_text}}
                                                </p>
                                            </span>
                                            <div class="container" style="padding: 0px; margin-bottom: 7.5px; margin-top: 5px;">
                                                <!-- like button -->
                                                <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="far fa-thumbs-up fa-stack-1x" style="padding-left: 0px;"></i>
                                                    <i class="fas fa-thumbs-up fa-stack-1x"></i>
                            
                                                </span>
                                                <span class="fa-stack" style="vertical-align: middle; display: none;">
                                                    <i class="far fa-thumbs-up fa-stack-1x"></i>
                                                    <i class="fas fa-thumbs-up fa-stack-1x"></i>
                            
                                                </span>
                                                <span>2.5K</span>
                                                <!-- unlike button -->
            
                                                <span class="fa-stack" style="vertical-align: middle; display: none;">
                                                    <i class="far fa-thumbs-down fa-stack-1x"></i>
                                                    <i class="fas fa-thumbs-down fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack" style="vertical-align: middle;">
                                                    <i class="far fa-thumbs-down fa-stack-1x"></i>
                                                    <i class="fas fa-thumbs-down fa-stack-1x"></i>
                                                </span>
                                                <span>2.5K</span>
                                                {% if request.user.is_authenticated%}
                                                <a id="reply_btn" style="margin-left: 25px;" onclick="replyFunction('{{comment.id}}')"><i class="bi bi-reply" style="font-size: 1.3rem; color: black;" ></i></a>
                                                {% else %}
                                                <a href="{% url 'login' %}?next={% url 'videos:video_detail' video.id %}" id="reply_btn" style="margin-left: 25px;" ><i class="bi bi-reply" style="font-size: 1.3rem; color: black;" ></i></a>
                                                {% endif %}
                                                <a onclick="my_Function('{{comment.id}}')" style="margin-left: 20px; color: #fff;">
                                                    View replys
                                                </a> <!-- "onclick="my_Function()" href="#" style="margin-left: 20px;">View replys</a> -->
                                        
                                            </div>
                                            <div class="container" id="reply_form{{comment.id}}" style="display: none;">
                                                <form action="" id="reply-form" name="reply-form">
                                                    <input type="hidden" name="reply-comment-id" id="reply-comment-id{{comment.id}}" value="{{comment.id}}">
                                                    <input class="form-control form-control-sm" type="text" name="reply-comment-input" placeholder="Type a reply" id="reply-comment-input{{comment.id}}" >
                                                    <div style="margin-top: 8.5px;">
                                                        <button type="submit" class="btn btn-secondary btn-sm" id="reply_btn">Submit</button>
                                                        <a class="btn btn-secondary btn-sm" type="reset" onclick="replyFunction('{{comment.id}}')" >Cancel</a>
                                                    </div>
                                                </form>
                                                
                                                
                                            </div>

                                            <div id="reply-container{{comment.id}}">
                                            
                                                <div id="reply_container{{comment.id}}" style="display: none;">
                                                    
                                                    <ul class="list-unstyled" id="Reply_container{{comment.id}}" style="margin-left: 20px; margin-right: 4.5px;">
                                                        {% if comment.reply_set.all %}
                                                        {% for reply in comment.reply_set.all %}
                                                            <li id="container_reply_{{comment.id}}">
                                                                <div class="container" style="margin: 0px; padding: 0px;">
                                                                    <p style="margin: 0px;">
                                                                        {{reply.user}}
                                                                        <a  href="#" id="getComment" data-bs-toggle="modal" data-bs-target="#ReplyModal" onclick="editReply('{{reply.id}}')" ><i class="bi bi-pencil"></i></a>
                                                                        <a  href="#" data-bs-toggle="modal" data-bs-target="#DeleteReplyModal" onclick="deleteReply('{{reply.id}}')"><i class="bi bi-trash"></i></a>
                                                                    </p>
                                                                    <p style="margin: 0px; font-size: 9px;">{{reply.date_uploaded|naturaltime}}</p>
                                                                </div>
                                                                <div class="container" id="{{reply.id}}-reply-container" style="margin: 0px; padding: 0px;">
                                
                                                                    <p class="ReplyText">
                                                                    {{reply.r_text}}
                                                                    </p>
                                                                    <div class="container" style=" margin-bottom: 7.5px; padding: 0px;">
                                                                        <!-- like button -->
                                                                        <span class="fa-stack" style="vertical-align: middle;">
                                                                            <i class="far fa-thumbs-up fa-stack-1x"></i>
                                                                            <i class="fas fa-thumbs-up fa-stack-1x"></i>
                                                    
                                                                        </span>
                                                                        <span class="fa-stack" style="vertical-align: middle; display: none;">
                                                                            <i class="far fa-thumbs-up fa-stack-1x"></i>
                                                                            <i class="fas fa-thumbs-up fa-stack-1x"></i>
                                                    
                                                                        </span>
                                                                        <span>2.5K</span>
                                                                        <!-- unlike button -->
                                
                                                                        <span class="fa-stack" style="vertical-align: middle; display: none;">
                                                                            <i class="far fa-thumbs-down fa-stack-1x"></i>
                                                                            <i class="fas fa-thumbs-down fa-stack-1x"></i>
                                                                        </span>
                                                                        <span class="fa-stack" style="vertical-align: middle;">
                                                                            <i class="far fa-thumbs-down fa-stack-1x"></i>
                                                                            <i class="fas fa-thumbs-down fa-stack-1x"></i>
                                                                        </span>
                                                                        <span>2.5K</span>
                                
                                
                                                                        <a href="#" id="reply_btn" style="margin-left: 25px;"><i class="bi bi-reply" style="font-size: 1.3rem; color: black;" ></i></a>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                        {% else %}
                                                        <li id="container_reply_{{comment.id}}">
                                                            <h6>No replys here</h6>
                                                        </li>
                                                        {% endif %}  
                                                    </ul>
                                                    
                                                </div>
                                            
                                            </div>
                                            <hr>
                                        </li>
                                        
                                        
                                    
                                {% endfor %}
                                {% endif %}

                        
                            
                        
                    </ul>
                    
                </div>
         
            </div>
        </div>
    </div>
    <div class="col-sm-11 col-md-4" style="padding: 12px;">
                {% for video in video_list %}
                <div class="card" style="margin: 0px; background-color: transparent;  width: auto;">
                    <img class="thumbnail-image" src="http://unsplash.it/650/250?random={{video.id}}" alt="">
                    <div class="card-body" style="margin: 0px;" >
                        <!-- <div class="container" style="margin: 0px 0px 3px 0px;">
                            <a href="{% url 'videos:video_detail' video.id %}" class="thumbnail" video-duration="12:15">
                                <img class="thumbnail-image" src="http://unsplash.it/390/250?gravity=center" alt="">
                            </a>
                        </div> -->
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'videos:video_detail' video.id %}" style="text-decoration: none;">
                                    <b style="color: white;">{{video.title}}</b>
                                </a>
                            </li>
                            <li><p style="color: #AAAAAA; margin-bottom: 0px;">{{video.hord}}</p></li>
                            <li><p style="color: #AAAAAA;">{{video.date_uploaded}}</p></li>
                        </ul>
                    </div>
                
                </div>
                {% endfor %}            
    </div>


    

</div>
<!-- Edit Comment Modal -->
<div class="modal fade" id="commentModal" aria-labelledby="centermodal" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
        <div class="modal-content" style="background-color: #424242; ">
            <div class="modal-header">
              <h5 class="modal-title" id="edit-comment-reply-modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="update-Comment-form" action="" >
                  <input type="hidden" name="edit-comment-id" id="edit-comment-id">
                  <div class="container">
                    <label for="message-text" class="col-form-label" id="edit-modal-message-text"></label>
                    <textarea class="form-control" name="edit-comment-text" id="edit-comment-text"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a  onclick="update_comment()" class="btn btn-primary">Save changes</a>
                  </div>
              </form>
            </div>
            
        </div>
    </div>
</div>
<!-- Delete comment Modal -->
<div class="modal fade" id="DeleteCommentModal" aria-labelledby="centermodal" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
        <div class="modal-content" style="background-color: #424242; ">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-comment-reply-modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="delete-Comment-form">
                    <div class="container" id="confirm-Delete-Comment">
                        <input type="hidden" name="delete-comment-id" id="delete-comment-id">
                        <label for="message-text" class="col-form-label" id="delete-modal-message-text"></label>
                        <p name="delete-comment-text" id="delete-comment-text"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a onclick="delete_comment()" class="btn btn-danger">DELETE</a>
                    </div>
                </form>
             
              
            </div>
            
        </div>
    </div>
</div>

<!-- Edit Reply Modal -->
<div class="modal" id="ReplyModal" aria-labelledby="centermodal" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
        <div class="modal-content" style="background-color: #424242; ">
            <div class="modal-header">
              <h5 class="modal-title" id="edit-reply-modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="update-reply-form" action="" >
                  <input type="hidden" name="edit-reply-id" id="edit-reply-id">
                  <div class="container">
                    <label for="message-text" class="col-form-label" id="edit-reply-modal-message-text"></label>
                    <textarea class="form-control" name="edit-reply-text" id="edit-reply-text"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a  onclick="update_reply()" class="btn btn-primary">Save changes</a>
                  </div>
              </form>
            </div>
            
        </div>
    </div>
</div>
<!-- Delete Reply Modal -->
<div class="modal fade" id="DeleteReplyModal" aria-labelledby="centermodal" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
        <div class="modal-content" style="background-color: #424242; ">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-reply-modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="delete-reply-form">
                    <div class="container" id="confirm-reply-Comment">
                        <input type="hidden" name="delete-reply-id" id="delete-reply-id">
                        <label for="message-text" class="col-form-label" id="delete-reply-modal-message-text"></label>
                        <p name="delete-reply-text" id="delete-reply-text"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a onclick="delete_reply()" class="btn btn-danger">DELETE</a>
                    </div>
                </form>
             
              
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
<script src="{% static 'TheHoard/js/video.js' %}"></script>

{% endblock javascript %}